<%= simple_form_for [performer, message] do |f| %>
    <%= f.error_notification %>

    <%= f.input :subject, autofocus: true %>
    <%= f.input :content, autofocus: true %>

    <div class="form-actions">
      <%= f.button :submit, "Send message", class: "navbar-wagon-button" %>
    </div>
  <% end %>
