<div class="container">
<h2 class="form-header">Send a message</h2>
  <div class="form-inputs">
  <%= simple_form_for [@performer, @message] do |f| %>
    <%= f.error_notification %>

    <%= f.input :subject, autofocus: true %>
    <%= f.input :content, autofocus: true %>

  </div>
    <div class="form-actions">
      <%= f.button :submit, "Send message", class: "navbar-wagon-button" %>
    </div>
  <% end %>

</div>
