<div class="container text-center">
  <div id="booking-title">
    <h1>Your booking request:</h1>
  </div>

  <div class="booking-details">
    <p><strong>You have booked </strong><%= @booking.performer.first_name %></p>
    <p><strong>From </strong><%= @booking.start_time %>
    <strong> until </strong><%= @booking.end_time %></p>
    <p><strong>at </strong><%= @booking.location %></p>
    <p><strong>Message: </strong></p>
    <p><%= @booking.message %></p>
    <p>This request will become a live booking once the performer confirms his availability.</p>
  </div>
  <div class="confirm-buttons">
    <button class="btn btn-secondary"><%= link_to 'Go back', performer_path(id: @booking.performer.id), { class: "button-link"} %></button>
    <button class="btn btn-danger"><%= link_to 'Confirm your request', user_path, { class: "button-link"} %></button>
  </div>
</div>
