<%=link_to performer_path(performer) do %>
<div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= performer.picture %>');">
  <div class="card-title"><h3><%= performer.city %></h3></div>
    <div class="card-description">
      <h3><%= performer.first_name %></h3>
        <p><%= performer.category %></p>
    </div>
  <%= image_tag(performer.profile_picture, class: "card-avatar") %>
</div>
<% if performer.hourly_rate && performer.reviews %>
  <div class="card-list">
    <p>Price: £<%= performer.hourly_rate %>/per hour</p>
    <p>Rating: XXXX - < # > Comments</p>
  </div>
  <% end %>
<% end %>
