<%= simple_form_for current_performer do |f| %>

<div class="edit-banner show-banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url(<%= image_path(current_performer.picture) %>)
;">
  <div class="edit-icon"><%= icon('pencil') %></div>
  <div class="hidden form-div" id="banner-photo-upload">
    <%= f.input :picture, label: false %>
    <%= f.input :picture_cache, label: false, as: :hidden %>
  </div>
</div>

<br>

<div class="container">

  <div id="summary">
    <div class="row">
      <div class="col-lg-8 col-sm-8">
        <div class="summary-component">
          <div class="editable-text">
            <h2><%= current_performer.first_name + ' ' + current_performer.last_name %></h2>
            <div class="edit-icon"><%= icon('pencil') %></div>
          </div>

          <div class="hidden form-div">
            <%= f.input :first_name, label: false %>

            <%= f.input :last_name, label: false %>

          </div>

          <div class="editable-text">
            <h5><%= current_performer.city %></h5>
            <div class="edit-icon"><%= icon('pencil') %></div>
          </div>

          <div class="hidden form-div">
            <%= f.input :city, label: false %>
          </div>
        </div>
      </div>
      <div class="col-md-4 text-center hide-sm">
        <div class="profile-image">
          <div class="editable-text profile-picture">
            <img src="<%= current_performer.profile_picture %>" alt="profile-picture" class="avatar-large">
             <div class="edit-icon"><%= icon('pencil') %></div>
             <div class="hidden form-div" id="profile-picture-upload">
               <%= f.input :profile_picture, label: false %>
               <%= f.input :profile_picture_cache, label: false, as: :hidden %>
             </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row text-center">
      <div class="editable-text" id="icons">
        <div class="col-sm-12">
          <hr>
              <div class="col-sm-3" id="label-and-icon"><%= icon('microphone', class: "big-icon") %><%= current_performer.category %></div>
              <div class="col-sm-3" id="label-and-icon"><%= icon('thumbs-o-up', class: "big-icon") %>
                <%= current_performer.event_types[1] %>
              </div>
              <div class="col-sm-3" id="label-and-icon">
                <%= icon('money', class: "big-icon") %><%= current_performer.hourly_rate.to_s + "/hour" %>
              </div>
              <div class="col-sm-3" id="label-and-icon">
              <% if current_performer.reviews.blank? %>
                <%= icon('line-chart', class: "big-icon") %>
                No Reviews Yet!
              <% else %>
                <%= icon('line-chart', class: "big-icon") %>
                Rated <%= average_rating(current_performer) * 2 %>/10
              <% end %>
              </div>
        </div>
      </div>
    </div>

  <hr>

  <div id="details">
    <div class="row">
      <div class="editable-text" id="about">
        <div class="col-sm-12">
          <h4>About this performer</h4>
            <p><%= current_performer.profile %></p>
            <a href="">Contact performer <%= current_performer.first_name %></a>
            <div class="edit-icon"><%= icon('pencil') %></div>
        </div>
        <div class="col-sm-12 hidden">
          <div class="form-div">
            <h4>About this performer</h4>
            <%= f.input :profile, as: :text, id: "description-textarea" %>
            <a href="">Contact <%= current_performer.first_name %></a>
          </div>
        </div>
      </div>
    </div>

    <hr>

    <div class="row editable-text" id="details-div">
      <div class="col-sm-3">
        <h4>Details</h4>
      </div>
      <div class="col-sm-9">
        <p>Members: <strong><%= current_performer.members ||= 1 %></strong></p>
        <p>Category: <strong><%= current_performer.category %></strong></p>
        <p id="event-types">Good for:</p>
          <ul class="list-inline list-event-types">
            <% current_performer.event_types.each do |event| %>
            <li>
              <strong><%= event %></strong>
            </li>
          <% end %>
          </ul>
          <% if current_performer.requirements.blank? %>
            <p>Special Requirements: <strong>None</strong></p>
          <% else %>
            <p>Special Requirements: <strong><%= current_performer.requirements %></strong></p>
          <% end %>
      </div>
      <div class="edit-icon"><%= icon('pencil') %></div>
    </div>
    <div class="row form-div hidden">
        <div class="col-sm-3">
          <h4>Details</h4>
        </div>
        <div class="col-sm-9">
        <% unless current_performer.members.blank? %>
            <div class="row">
              <%= f.input :members %>
            </div>
        <% end %>
        <% unless current_performer.category.blank? %>
          <div class="row">
            <%= f.input :category, collection: ["Rock", "Pop", "DJ", "Entertainer"] %>
          </div>
        <% end %>
        <% unless current_performer.event_types.blank? %>
          <div class="row">
            <div class="form-inline text-center">
          <%= f.input :event_types, as: :check_boxes, collection: ["Wedding", "Corporate Event", "Private Party", "Charity Event"], include__blank: false %>
        </div>
          </div>
        <% end %>
        <% unless current_performer.requirements.blank? %>
          <div class="row">
            <%= f.input :requirements %>
          </div>
        <% end %>
        </div>
    </div>

    <hr>

    <div class="row editable-text">
      <div class="col-sm-3">
        <h4>Prices</h4>
      </div>
      <div class="col-sm-9">
        <% if current_performer.hourly_rate.blank? %>
          <p>Rate: <strong>not specified</strong></p>
        <% else %>
          <p>Rate: <strong><%= current_performer.hourly_rate %></strong></p>
        <% end %>
        <% if  %>
          <p>Weekday Discount: <strong><%= current_performer.discount %>%</strong></p>
        <% else %>
          <p>Weekday Discount: <strong>not specified</strong></p>
        <% end %>
        <% if  %>
          <p>Cancellation: <strong><%= current_performer.cancellation_policy %></strong></p>
        <% else %>
        <p>Cancellation: <strong>not specified</strong></p>
        <% end %>
      </div>
      <div class="edit-icon"><%= icon('pencil') %></div>
    </div>

    <div class="row hidden" id="prices">
      <div class="col-sm-3">
        <h4>Prices</h4>
      </div>
      <div class="col-sm-9">
        <% unless current_performer.hourly_rate.blank?  %>
          <div class="row">
            <%= f.input :hourly_rate %>
          </div>
        <% end %>
        <% unless current_performer.discount.blank? %>
          <div class="row">
            <%= f.input :discount %>
          </div>
        <% end %>
        <% unless current_performer.cancellation_policy.blank? %>
          <div class="row">
            <%= f.input :cancellation_policy %>
          </div>
        <% end %>
      </div>
    </div>
  </div>


    <div class="text-center">
      <hr>
      <%= f.submit "Save your changes", class: "navbar-wagon-button" %>
    </div>
  </form>
  <% end %>

  <hr>
  <% if current_performer.reviews.blank? %>
    <div id="reviews">
      <div class="row">
        <div class="col-sm-12">
          <h4>No Reviews Yet! </h4>
        </div>
      </div>
  <% else %>
    <div id="reviews">
      <div class="row">
        <div class="col-sm-12">
          <h4><%= @performer.reviews.count %> Reviews
          <% average_rating(@performer).times do %>
              <i class="fa fa-star" aria-hidden="true"></i>
            <% end %>
            <% (5 - average_rating(@performer)).times do %>
              <i class="fa fa-star-o" aria-hidden="true"></i>
            <% end %></h4>
        </div>
      </div>

      <br>

      <% @performer.reviews.each do |review| %>
        <div class="row">
          <div class="col-sm-3">
            <h4><%= review.user.first_name + ' ' + review.user.last_name %></h4>
          </div>
          <div class="col-sm-9">
              <p><%= review.description %></p>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
  </div>


  <hr>

  <div id="contact-button">
    <div class="row">
      <div class="col-sm-12">
        <button class="btn btn-secondary btn-custom-red">Book performer</button>
      </div>
    </div>
  </div>

  <hr>

  <div id="map" style="width: 100%; height: 300px;">
    <% content_for(:after_js) do %>
      <script>
        $(document).ready(function() {
          var handler = Gmaps.build('Google');
          var style = [{"stylers":[{"hue":"#dd0d0d"}]},{"featureType":"road","elementType":"labels","stylers":[{"visibility":"off"}]},{"featureType":"road","elementType":"geometry","stylers":[{"lightness":100},{"visibility":"simplified"}]}];

          handler.buildMap({ provider: {styles: style}, internal: { id: 'map' } }, function() {
            markers = handler.addMarkers(<%= raw @markers.to_json %>);
            handler.bounds.extendWith(markers);
            handler.fitMapToBounds();
            if (markers.length == 0) {
              handler.getMap().setZoom(6);
            } else if (markers.length == 1) {
              handler.getMap().setZoom(13);
            }
          });
        });
      </script>
    <% end %>
  </div>

</div>
</div>

<% content_for(:title) do %>
  <%= 'Showcase - ' + @performer.first_name + ' ' + @performer.last_name  %>
<% end %>

