<form class="form-inline">
<div class="edit-banner show-banner">
  <div class="edit-icon"><%= icon('pencil') %></div>
</div>

<br>

<div class="container">

  <div id="summary">
    <div class="row">
      <div class="col-lg-8 col-sm-8">
        <div class="summary-component">
          <div class="editable-text">
            <h2><%= current_performer.first_name + ' ' + current_performer.last_name %></h2>
            <div class="edit-icon"><%= icon('pencil') %></div>
          </div>

          <div class="hidden form-div">
            <input type="text" name="first_name" value="<%= current_performer.first_name %>" class="form-control">
            <input type="text" name="last_name" value="<%= current_performer.last_name %>" class="form-control">
            </div>

          <div class="editable-text">
            <h5>Performer city<%= current_performer.city %></h5>
            <div class="edit-icon"><%= icon('pencil') %></div>
          </div>

          <div class="hidden form-div">
            <input type="text" name="city" value="<%= current_performer.city %>" class="form-control">
          </div>
        </div>
      </div>
      <div class="col-md-4 text-center hide-sm">
        <div class="profile-image">
          <div class="editable-text">
            <img src="" alt="profile-picture" class="avatar-large">
             <div class="edit-icon"><%= icon('pencil') %></div>
          </div>
        </div>
      </div>
    </div>

    <div class="row text-center">
      <div class="editable-text" id="icons">
        <div class="col-sm-12">
          <hr>
              <div class="col-sm-3" id="label-and-icon"><%= icon('list-ul') %>Type</div>
              <div class="col-sm-3" id="label-and-icon"><%= icon('bars') %>Category</div>
              <div class="col-sm-3" id="label-and-icon"><%= icon('gbp') %>Rate(£ or ££ etc)</div>
              <div class="col-sm-3" id="label-and-icon"><%= icon('trophy') %>Rating(Well rated?)</div>
              <div class="edit-icon" id="label-and-icon"><%= icon('pencil') %></div>
        </div>
      </div>
      <div class="hidden form-div"></div>
    </div>

  <hr>

  <div id="details">
    <div class="row">
      <div class="editable-text" id="about">
        <div class="col-sm-12">
          <h4>About this performer</h4>
            <p>This performer is blah blah blah. They have been playing the banjo for 25 years. Incredible modern banjo sound.</p>
            <a href="">Contact performer</a>
            <div class="edit-icon"><%= icon('pencil') %></div>
        </div>
      </div>
    </div>

    <hr>

    <div class="row">
      <div class="editable-text" id="details-div">
        <div class="col-sm-3">
          <h4>Details</h4>
        </div>
        <div class="col-sm-9">
          <p>Members: <strong>2</strong></p>
          <p>Category: <strong>Magician</strong></p>
          <p>Good for: <strong>Birthdays, Children's Parties</strong></p>
          <p>Special Requirements: <strong>None</strong></p>
        </div>
        <div class="edit-icon"><%= icon('pencil') %></div>
      </div>
    </div>

    <hr>

    <div class="row">
      <div class="editable-text" id="prices">
        <div class="col-sm-3">
          <h4>Prices</h4>
        </div>
        <div class="col-sm-9">
          <p>Rate: <strong>2</strong></p>
          <p>Weekday Discount: <strong>25%</strong></p>
          <p>Cancellation: <strong>Flexible</strong></p>
          <div class="edit-icon"><%= icon('pencil') %></div>
        </div>
      </div>
    </div>
  </div>

  <hr>

  <button type="submit" class="btn btn-primary">Save Changes</button>
  </form>

  <div id="reviews">
    <div class="row">
      <div class="col-sm-12">
        <h4>8 Reviews <i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star-half-o" aria-hidden="true"></i></h4>
      </div>
    </div>

    <br>

    <div class="row">

    </div>

    <hr>

    <div class="row">
      <div class="col-sm-12">
        <button class="btn btn-secondary">Contact performer</button>
      </div>
    </div>
  </div>

  <hr>

  <div id="map">
    Insert map here with radius of performers possible locations.
  </div>

  <hr>

  <div id="similar-performers">
    Similar performers cards?
  </div>

  <br><br><br>

</div>

