<form action="/performers" method="/get">
<div class="wrapper">
  <div class="container text-center">
    <div class="filters">
        <div class="row">

          <div class="col-xs-6 col-md-3 form-group">
            <label>Event</label>
            <select class="form-control" name="event_types">
              <option <%= 'selected' if params[:event_types] == "Private party" %> >Private party</option>
              <option <%= 'selected' if params[:event_types] == "Corporate event" %>>Corporate event</option>
              <option <%= 'selected' if params[:event_types] == "Wedding" %>>Wedding</option>
              <option <%= 'selected' if params[:event_types] == "Charity event" %>>Charity event</option>
            </select>
            <!-- <input value="<%#= params[:event_types] %>" class="form-control" name="event_types"> -->
          </div>
          <div class="col-xs-6 col-md-3 form-group">
            <label>Category</label>
            <input value="<%= params[:category] %>" class="form-control" name="category">
          </div>
          <div class="col-xs-6 col-md-3 form-group">
            <label>Date</label>
            <input value="<%= params[:date] %>" class="form-control" name="date">
          </div>
          <div class="col-xs-6 col-md-3 form-group">
            <label>Postcode</label>
            <input value="<%= params[:postcode] %>" class="form-control" name="postcode">
          </div>
       </div>
    </div>
  </div>
</div>
<div class="wrapper">
  <div class="container text-center">
    <div class="row">
        <div class="form-search form-inline">
          <input value="<%= params[:time_in] %>" type="hidden" name="time_in" class="form-control">
          <input value="<%= params[:time_out] %>" type="hidden" name="time_out" class="form-control">
          <div class="input-group">
            <span class="input-group-addon ">£</span>
            <input value="<%= params[:min_price] %>" type="min-price" placeholder="Minimum Price" class="form-control" name="min_price">
          </div>
          <div class="input-group">
            <span class="input-group-addon">£</span>
            <input value="<%= params[:max_price] %>" type="max-price" placeholder="Maximum Price" class="form-control" name="max_price">
          </div>
            <input type="submit" value="Search" class="navbar-wagon-item navbar-wagon-button btn">
        </div>
    </div>
  </div>
</div>
  </form>
<div class="container" id="map_container">
  <div id="map" style="width: 100%; height: 300px;"></div>
</div>

  <% content_for(:after_js) do %>
    <script>
      $(document).ready(function() {
        var handler = Gmaps.build('Google');
        var style = [{"stylers":[{"hue":"#dd0d0d"}]},{"featureType":"road","elementType":"labels","stylers":[{"visibility":"off"}]},{"featureType":"road","elementType":"geometry","stylers":[{"lightness":100},{"visibility":"simplified"}]}];
        handler.buildMap({ provider: { styles: style, scrollwheel: false}, internal: { id: 'map' } }, function() {
          markers = handler.addMarkers(<%= raw @markers.to_json %>);
          handler.bounds.extendWith(markers);
          handler.fitMapToBounds();
          if (markers.length == 0) {
            handler.getMap().setZoom(6);
          } else if (markers.length == 1) {
            handler.getMap().setZoom(12);
          }
        });
      });
    </script>
  <% end %>


<div class="wrapper" id="search-results">
  <div class="container">
    <div class="row">
      <% if @performers.length > 1  %>
        <% @performers.each do |performer| %>
          <div class="listing-cards col-xs-12 col-md-4">
            <%= render "shared/cards", performer: performer %>
          </div>
        <% end %>
      <% else %>
        <div class="listing-cards col-xs-12 col-md-4">
          <%= render "shared/cards", performer: @performers %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<% content_for(:selected_attr) do %>
  selected="selected"
<% end %>
