<div class="show-banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url(<%= @performer.picture %>);">
</div>

<br>

<div class="container">

  <div id="summary">
    <div class="row">
      <div class="col-lg-8 col-sm-8">
        <div class="summary-component">
          <h2><%= @performer.first_name + @performer.last_name %></h2>
          <h5><%= @performer.city %></h5>
        </div>
      </div>
      <div class="col-md-3 text-center hide-sm">
        <div class="profile-image">
          <img src="<%= @performer.picture %>" alt="profile-picture" class="avatar-large">
        </div>
      </div>
    </div>

    <div class="row text-center">
      <div class="col-sm-12">
        <hr>
        <div class="col-sm-3"><img src="" alt="tent icon"></div>
        <div class="col-sm-3"><img src="" alt="microphone icon"></div>
        <div class="col-sm-3"><img src="" alt="pound icon"></div>
        <div class="col-sm-3"><img src="" alt="icon"></div>
      </div>
    </div>

    <div class="row text-center">
      <div class="col-sm-12">
        <div class="col-sm-3">Type</div>
        <div class="col-sm-3">Category</div>
        <div class="col-sm-3">Rate(£ or ££ etc)</div>
        <div class="col-sm-3">Rating(Well rated?)</div>
      </div>
    </div>
  </div>

  <hr>

  <div id="details">
    <div class="row">
      <div class="col-sm-12">
        <h4>About this performer</h4>
        <p><%= @performer.profile %></p>
        <a href="">Contact performer</a>
      </div>
    </div>

    <hr>

    <div class="row">
      <div class="col-sm-3">
        <h4>Details</h4>
      </div>
      <div class="col-sm-9">
          <p>Members: <strong><%= @performer.members %></strong></p>
          <p>Category: <strong><%= @performer.category %></strong></p>
          <p>Good for: <strong>@performer.good_for</strong></p>
          <p>Special Requirements: <strong><%= @performer.requirements ? @performer.requirements : 'None' %></strong></p>
      </div>
    </div>

    <hr>

    <div class="row">
      <div class="col-sm-3">
        <h4>Prices</h4>
      </div>
      <div class="col-sm-9">
        <p>Rate: <strong><%= @performer.hourly_rate %></strong></p>
        <p>Weekday Discount: <strong><%= @performer.discount %>%</strong></p>
        <p>Cancellation: <strong><%= @performer.cancellation_policy %></strong></p>
      </div>
    </div>
  </div>

  <hr>

  <div id="reviews">
    <div class="row">
      <div class="col-sm-12">
        <h4><%= @performer.reviews.count %> Reviews <i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden= "true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star-half-o" aria-hidden="true"></i></h4>
      </div>
    </div>

    <br>

    <div class="row">
      <% @performer.reviews.each do |review| %>
        <div class="col-xs-12">
          <%= review.user.first_name %>
          <%= review.title %>
          <%= review.description %>
        </div>
      <% end %>
    </div>
  </div>

    <hr>

  <div id="contact-button">
    <div class="row">
      <div class="col-sm-12">
        <button class="btn btn-secondary">Book performer</button>
      </div>
    </div>
  </div>

  <hr>

  <div id="map">
    Insert map here with radius of performers possible locations.
  </div>

  <hr>

  <div id="similar-performers">

  </div>

  <br><br><br>

</div>
