<div class="show-banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url(<%= @performer.picture %>);">
</div>

<br>

<div class="container">

  <div id="summary">
    <div class="row">
      <div class="col-xs-12 col-md-8">

        <div class="row">
          <div class="col-xs-12">
            <div class="summary-box">
              <div class="profile-image">
                <img src="<%= @performer.profile_picture %>" alt="profile-picture" class="avatar-large" id="show-profile-picture">
              </div>
              <div class="summary-component">
                <h2><%= @performer.first_name + ' ' + @performer.last_name %></h2>
                <h5><%= @performer.city %></h5>
              </div>
            </div>
          </div>
        </div>

      <div class="row">
        <div class="col-xs-12">
          <hr>
          <div class="summary-icons text-center">
            <div class="col-sm-3"><i class="fa fa-microphone big-icon" aria-hidden="true"></i></div>
            <div class="col-sm-3"><i class="fa fa-thumbs-o-up big-icon" aria-hidden="true"></i></div>
            <div class="col-sm-3"><i class="fa fa-money big-icon" aria-hidden="true"></i></div>
            <div class="col-sm-3"><i class="fa fa-line-chart big-icon" aria-hidden="true"></i></div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div class="summary-categories text-center">
            <div class="col-sm-3">
              <%= @performer.category %>
            </div>
            <div class="col-sm-3">
              Good for Parties
            </div>
            <div class="col-sm-3">
              £ <%= @performer.hourly_rate %> /hour
            </div>
            <div class="col-sm-3">
              <% if @performer.reviews.blank? %>
                No Reviews Yet!
              <% else %>
                Rated <%= average_rating(@performer) * 2 %>/10
              <% end %>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <hr>
            <div class="summary-about">
            <h4>About this performer</h4>
            <p><%= @performer.profile %></p>
            <%= link_to "Contact Performer", new_performer_message_path(@performer) %>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-md-4">
      <div id="booking-table">
        <div class="booking-form form-group">
          <h4>Book this performer</h4>
          <%= simple_form_for [@performer, @booking] do |f| %>
            <%= f.input :start_time %>
            <%= f.input :end_time %>
            <%= f.input :location, placeholder: 'e.g. E1 6BT' %>
            <%= f.button :submit, "Request a booking" %></%>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div id="details">
    <hr>

    <div class="row">
      <div class="col-sm-3">
        <h4>Details</h4>
      </div>
      <div class="col-sm-9">
          <p>Members: <strong><%= @performer.members ? @performer.members : '1' %></strong></p>
          <p>Category: <strong><%= @performer.category ? @performer.category : 'Mixed' %></strong></p>
          <p>Good for: <strong>Parties</strong></p>
          <p>Special Requirements: <strong><%= @performer.requirements ? @performer.requirements : 'None' %></strong></p>
      </div>
    </div>

    <hr>

    <div class="row">
      <div class="col-sm-3">
        <h4>Prices</h4>
      </div>
      <div class="col-sm-9">
        <p>Rate: <strong><%= @performer.hourly_rate ? '£ ' + @performer.hourly_rate.to_s + ' /hour' : 'Tbc' %></strong></p>
        <p>Weekday Discount: <strong><%= @performer.discount ? @performer.discount : '25' %>%</strong></p>
        <p>Cancellation: <strong><%= @performer.cancellation_policy ? @performer.cancellation_policy : 'Flexible' %></strong></p>
      </div>
    </div>
  </div>

  <hr>

   <% if @performer.reviews.blank? %>
    <div id="reviews">
      <div class="row">
        <div class="col-sm-12">
          <h4>No Reviews Yet! </h4>
        </div>
      </div>
  <% else %>
    <div id="reviews">
      <div class="row">
        <div class="col-sm-12">
          <h4><%= @performer.reviews.count %> Reviews
          <% average_rating(@performer).times do %>
              <i class="fa fa-star" aria-hidden="true"></i>
            <% end %>
            <% (5 - average_rating(@performer)).times do %>
              <i class="fa fa-star-o" aria-hidden="true"></i>
            <% end %></h4>
        </div>
      </div>
    <% end %>

    <br>

    <% @performer.reviews.each do |review| %>
      <div class="row">
        <div class="col-sm-3 text-center">
          <h4 id="reviews-header"><%= review.user.first_name + ' ' + review.user.last_name %></h4>
          <h5><% review.rating.times do %>
            <i class="fa fa-star" aria-hidden="true"></i>
          <% end %>
          <% (5 - review.rating).times do %>
            <i class="fa fa-star-o" aria-hidden="true"></i>
          <% end %></h5>
        </div>
        <div class="col-sm-9">
            <p><%= review.description %></p>
        </div>
      </div>
      <br>
    <% end %>
  </div>

    <hr>

  <div id="contact-button">
    <div class="row">
      <div class="col-sm-12">
        <a href="#booking-table"><button class="btn btn-secondary btn-custom-red btn-lg">Book performer</button></a>
      </div>
    </div>
  </div>

  <hr>

  <div id="map" style="width: 100%; height: 300px;">
    <% content_for(:after_js) do %>
      <script>
        $(document).ready(function() {
          var handler = Gmaps.build('Google');
          var style = [{"stylers":[{"hue":"#dd0d0d"}]},{"featureType":"road","elementType":"labels","stylers":[{"visibility":"off"}]},{"featureType":"road","elementType":"geometry","stylers":[{"lightness":100},{"visibility":"simplified"}]}];

          handler.buildMap({ provider: { styles: style, scrollwheel: false }, internal: { id: 'map' } }, function() {
            markers = handler.addMarkers(<%= raw @markers.to_json %>);
            handler.bounds.extendWith(markers);
            handler.fitMapToBounds();
            if (markers.length == 0) {
              handler.getMap().setZoom(10);
            } else if (markers.length == 1) {
              handler.getMap().setZoom(10);
            }
          });
        });
      </script>
    <% end %>
  </div>

  <hr>

  <div id="similar-performers">

  </div>

  <br><br><br>

</div>

<% content_for(:title) do %>
  <%= 'Showcase - ' + @performer.first_name + ' ' + @performer.last_name  %>
<% end %>

<script type="text/javascript">
    $(function () {
        $('#datetimepicker6').datetimepicker();
        $('#datetimepicker7').datetimepicker({
            useCurrent: false //Important! See issue #1075
        });
        $("#datetimepicker6").on("dp.change", function (e) {
            $('#datetimepicker7').data("DateTimePicker").minDate(e.date);
        });
        $("#datetimepicker7").on("dp.change", function (e) {
            $('#datetimepicker6').data("DateTimePicker").maxDate(e.date);
        });
    });
</script>
