<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>TODO</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
  </head>
  <body class="<%= controller_name %> <%= action_name %>">
    <!-- Navbar -->
    <%= render 'shared/navbar' %>

    <!-- Notices and Alerts -->
    <% if notice %>
      <div class="alert alert-info alert-dismissible" role="alert">
        <span class="notice"><%= notice %></span>
      </div>
    <% elsif alert %>
      <div class="alert alert-warning alert-dismissible" role="alert">
        <p class="alert"><%= alert %></p>
      </div>
    <% end %>

    <!-- Main Page -->
    <%= yield %>

    <%= render 'shared/footer' %>

    <!-- Javascripts -->
    <%= javascript_include_tag 'application' %>
  </body>
</html>
